body{
    background-color: #ffdec7;
    font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
}

.header{
    text-align: center;
}

.avatar{ 
    width: 300px;
    height: 300px;
}

.header__title {
    fonst-size: 25 px
}
.header-subtitle {
    color: rgb(91, 143, 255, 0.8)
}

main {
    border: 1px solid rgba(132, 255, 152, 0.8);
    text-align: center;
}

.skills ol{
    list-style: none
}

.separator{
    width: 70%;
    height: 3px;
    background-color: rgba(217, 91, 255, 0.8);
}

.video iframe{
    width: 800px;
    height: 450px;
    border: none
}

.ed_table {
    border-collapse: collapse;
    width: 100%
}
.ed_table th, 
.ed_table td {
    border: 1px solid black;
    padding: 10 px;
}
.quote{ 
    font-size: 32px 
}


.form{
    width: 600px;
    margin: 0 auto;
}

.form input{
    width: 100%
}

.form-submit{
    displayh: block;
}

footer{
    height: 100px;
    background-color: rgba(255, 91, 91, 0.8);   
    text-align: center;
}

.contacts__link{
    color: rgb(255, 255, 255);
    text-decoration: none;
}

fieldset{
    border: solid 1px rgba(255, 91, 91, 0.8);
}